<div class="header">
  <h1>Task Tracker</h1>
  <button class="header__button" (click)="openModal()">New Task</button>
</div>
<div class="swim-lane-container">
  <div class="swim-lane">
    <h2>To Do</h2>
    <app-card
      *ngFor="let card of cards.todo"
      [cardData]="card"
      (cardDeleted)="deleteTask($event)"
      (cardUpdated)="updateTask($event)"
    ></app-card>
  </div>
  <div class="swim-lane">
    <h2>In Progress</h2>
    <app-card
      *ngFor="let card of cards.inProgress"
      [cardData]="card"
      (cardDeleted)="deleteTask($event)"
      (cardUpdated)="updateTask($event)"
    ></app-card>
  </div>
  <div class="swim-lane">
    <h2>Done</h2>
    <app-card
      *ngFor="let card of cards.done"
      [cardData]="card"
      (cardDeleted)="deleteTask($event)"
      (cardUpdated)="updateTask($event)"
    ></app-card>
  </div>
</div>
<app-task-modal
  *ngIf="showModal"
  (taskSubmitted)="submitTask($event)"
  (modalClosed)="closeModal()"
></app-task-modal>
